/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;

$body-background-color: #eceff1;
$foreground-color: #333;
$caption-color: #464646;

/* Components */
