$s: 32px; //size
$m: 2px; //margin
$d: 1s; //speed
//colors
$bg: #eceff1;
$fg: #37474f;

*{
  box-sizing: border-box;
}
body{
  background-color: whitesmoke;
}
.loader-hide-elements-below{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: $bg;
}
.loader-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  max-width: 15*$s;
  margin: auto;
  padding: 25% 0;
}
.cell{
  position: relative;
  width: $s*5;
  height: $s*5;
  flex-shrink: 1;
  flex-grow: 1;
}
.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  &.square{
    .block{
      border-radius: $m*2;
      width: 2*$s + $m*5;
      height: 2*$s + $m*5;
      &:before, &:after{
        bottom: $m;
      }
      &:before{
        left: $m;
      }
      &:after{
        right: $m;
      }
      .box{
        left: $m;
        top: $m;
        animation-name: slide;
      }
    }
  }

  &.reg{
    .block{
      animation-name: reg;
    }
  }


}
.block{
  position: absolute;
  color: $fg;
  border: $m solid;
  transform: translate(-50%, -50%) rotate(-45deg);
  animation-timing-function: ease-in-out;
  animation-duration: $d;
  animation-iteration-count: infinite;
  &:before, &:after{
    content: "";
    position: absolute;
    width: $s;
    height: $s;
    background: $fg;
    border-radius: $m*2;
  }
  &:before{
    left: $m;
  }
  &:after{
    right: $m;
  }
}
.box{
  position: absolute;
  width: $s;
  height: $s;
  background: $fg;
  border-radius: $m*2;
  animation-timing-function: ease-in-out;
  animation-duration: $d;
  animation-iteration-count: infinite;
}

@keyframes slide{
  33%{
    left: $m;
  }
  67%,100%{
    left: $m*2 + $s;
  }
}

@keyframes reg{
  50%{
    transform: translate(-50%, -50%) rotate(45deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(45deg);
  }
}



