#sponsors{
  height: auto;
  overflow: hidden;
  > div {
    >div {
      margin: 50px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      > div.sponsor-category{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        >div {
          margin: 10px 0;
          > img {
            width: 150px;
            height: 120px;
            object-fit: cover;
          }
        }
      }
    }
  }
}